*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #fff;
  letter-spacing: 0.02em;
}
h1,
h2,
h3 {
  margin: 0;
}

h2 {
  margin-bottom: 72px;
}

h3 {
  font-weight: 500;
  line-height: 1.2;
  color: #2e2f42;
  font-size: 20px;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 24px 0;
}

a:hover,
a:focus {
  color: #404bbf;
}

button {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  font-size: 16px;
  background: #4d5ae5;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  margin: auto;
  margin-top: 48px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  display: block;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

button:hover,
button:focus {
  background: #404bbf;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
}

.logo-studio-header {
  color: #2e2f42;
}

.logo-studio-footer {
  color: #f4f4fd;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
}

section {
  padding: 120px 0;
}

.header-page {
  border-bottom: 1px solid #e7e9fc;
}

.header-page .container {
  display: flex;
}

.navigation {
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.nav-list {
  display: flex;
  gap: 40px;
  margin-left: 76px;
}

.nav-item {
  line-height: 1.5;
}

.address {
  font-style: normal;
  line-height: 1.5;
  margin-left: 332px;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-item {
  line-height: 1.5;
}

.main {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.main-header {
  line-height: 1.07;
  font-size: 56px;
  color: #fff;
  text-align: center;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.principles-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.principles-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  width: calc((100%-72px) / 4);
}

.section-header {
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.list-header {
  letter-spacing: 0.02em;
}

.list-text {
  line-height: 1.5;
}

.team {
  text-align: center;
  background-color: #f4f4fd;
}

.team-list-header {
  text-align: center;
  margin-bottom: 8px;
}

.team-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.team-item {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border-radius: 0 0 4px 4px;

  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-list-text {
  text-align: center;
}

.team-item-info {
  padding: 32px 0;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  max-width: 100%;
}

.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer .logo {
  display: inline-block;
  padding: 0;
  margin-bottom: 16px;
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  margin-bottom: 100px;
}
